<div id="clear-button" class="filter-header" ng-click="clearFilters()">필터 초기화</div>

<div class="filter-container">
    <span class="filter-header">속성 필터</span>
    <span ng-repeat="(n,type) in [ '힘' ]"
        class="filter width-4 type STR " ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">힘</span>
    <span ng-repeat="(n,type) in [ '속도' ]"
        class="filter width-4 type QCK " ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">힘</span>
    <span ng-repeat="(n,type) in [ '기술' ]"
        class="filter width-4 type DEX " ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">힘</span>
      
</div>

<div class="filter-container">
    <span class="filter-header">타입 필터</span>
    <span ng-repeat="(n,class) in [ '격투', '사격', '참격', '타격', '자유', '박식', '강인', '야심' ]"
        class="filter width-6 class" ng-click="onClassClick($event,class)"
        ng-class="{ active: filters.classes.indexOf(class) > -1 }">{{class}}</span>
</div>

<div class="filter-container">
    <span class="filter-header">등급 필터</span>
    <span ng-repeat="(n,stars) in [ 1, 2, 3, 4, 5, 6 ]" class="filter stars width-4 stars-{{stars}}"
        ng-click="onStarsClick($event,stars)" ng-class="{ active: filters.stars.indexOf(stars) > -1 }"></span>
</div>

<div class="filter-container expandable" id="cost-container"
        ng-class="{ expanded: filters.costEnabled }">
    <span class="filter-header" ng-click="filters.costEnabled = !filters.costEnabled">
        Cost값 필터
        <i class="pull-right fa fa-{{costExpanded ? 'chevron-up' : 'chevron-down'}}"></i>
    </span>
    <input type="text" id="cost-slider" name="cost-slider" value="" cost-slider></input>
</div>
