<div id="outer-container">
    <div id="container">
        <div id="content">
				<h1 class="page-header">
					확률 계산기
				</h1>
            <div >
                <div class="small-container" attach-picker>

                    <div class="unitContainer">

                        <div class="unit" decorate-slot uid="character.uid"
                            ng-class="{ empty: !character || !character.uid }"></div>

                    </div>
                    <p ng-if="slotCount(character.uid)">소켓이 있다면 선택해 주세요.</p>
                    <p ng-if="!slotCount(character.uid)">이 캐릭터는 소켓이 없습니다.</p>
                    <div class="slots">

                        <slot-wheel ng-repeat="slotNumber in range(0, slotCount(character.uid))">
                        </slot-wheel>

                    </div>

                </div>
            </div>
			
			<div id="calculation-area">
				
				<div class="large-container">
					동일캐릭/스킬북 개수: <input type="text" class="number-field" ng-model="copies" placeholder="보유수량 입력" auto-focus
						ng-change="changeBaseValues()" id="copies">
					스킬업: <input type="text" class="number-field" ng-model="skillups" placeholder="횟수 입력" auto-focus
						ng-change="changeBaseValues()" id="skillups">
					<label><input type="checkbox" ng-model="specialEvent" ng-change="changeBaseValues()"><이벤트>확률 2배 적용</label>
					
				</div>
				
				<div class="small-container">
					<p>  
					 {{copies}}개의 동일캐릭/스킬북 으로 {{skillups}}번의 레벨이 오를 확률입니다:<br>
					<label ng-attr-style="color: {{specialProbabilityColor}}" class="result">{{specialProbabilityResult}}%</label>
					</p>
					<uib-progressbar animate="false" value="specialProbabilityProgress" type="success"><b>{{specialProbabilityProgressBar}}</b></uib-progressbar>
					<button ng-click="!isSpecialReady||calculateSpecialUp()">계산하기</button>
				</div>

				<div class="large-container">
					<p>  
					{{copies}}개의 동일캐릭/스킬북 으로 특수능력(슬롯) 해제 확률: <br>
					노트: 현재 슬롯이 있다면, 선택해주세요 <br>
					슬롯 해제 수는 슬롯에 숫자를 눌러 변경가능합니다. <br>
					<label ng-attr-style="color: {{socketProbabilityColor}}" class="result">{{socketProbabilityResult}}% </label>
					</p>
					<uib-progressbar animate="false" value="socketProbabilityProgress" type="success"><b>{{socketProbabilityProgressBar}}</b></uib-progressbar>
					<button ng-click="!isSocketReady||calculateSocketUp()">계산하기</button>
				</div>

				

			</div>

            <div id="urlContainer" ng-class="{ visible: url }">
                <input ng-model="url"></input>
            </div>

            <div id="buttonContainer">

                <button class="btn btn-danger" ui-sref="main.reset" ng-disabled="!character"  uib-tooltip="Reset" tooltip-append-to-body="true">
                    <i class="fa fa-eraser"></i>
                </button>

                <button class="btn btn-success" ng-click="generateURL()" ng-disabled="!character"  uib-tooltip="Export URL" tooltip-append-to-body="true">
                    <i class="fa fa-exchange"></i>
                </button>
                
                <button type="button" class="btn" ui-sref="main.instruction" title="Instructions" uib-tooltip="Instructions" tooltip-append-to-body="true">
                    <i class="fa fa-question-circle"></i>
                </button>

            </div>

            <div id="transient" class="alert alert-danger" ng-show="options.transient" ng-click="options.transient = false"  uib-tooltip="Save" tooltip-append-to-body="true">
                <i class="fa fa-lock"></i>
                Transient mode enabled. Click to disable.
            </div>

        </div>
    </div>
</div>
